<router-outlet></router-outlet>
<div id="dashboard">
    <ul id="vignet-list">
        <app-city-vignet [cityName]="nantesDatas.cityName" [nbParking]="nantesDatas.nbParking" class="city-vignet-yellow"></app-city-vignet>
        <app-city-vignet [cityName]="rennesDatas.cityName" [nbParking]="rennesDatas.nbParking" class="city-vignet-red"></app-city-vignet>
        <app-city-vignet [cityName]="angersDatas.cityName" [nbParking]="angersDatas.nbParking" class="city-vignet-blue"></app-city-vignet>
    </ul>
    <app-graph-dashboard-places></app-graph-dashboard-places>
</div>

