@import '../../../styles/main';
#dashboard {
    background-color: $bg-content;
    min-height: 100vh;
    #vignet-list {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
}
