@import '../../../styles/main';

h2{
    font-family: $font-default;
    color: $color-secondary;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: $blanc;
    color: $noir;
    position: fixed;
    height: 100vh;
    transition: all 0.3s;
    .sidebar-header {
        padding: 20px 5px;
        background: $blanc;
        img{
            width: 160px;
        }
    }
    ul.components {
        padding: 20px 0;
        border-bottom: 1px solid $blanc;
        
        p {
            color: $noir;
            padding: 0 40px;
            font-size: 25px;
        }
        div.border{
            width: 80%;
            height: 1px;
            background-color: $noir;
            margin: 20px 10%;
        }
        li a {
            padding: 10px 65px;
            font-size: 1.1em;
            display: block;
            color: $noir;
            &:hover {
                color: $yello;
                &:before{
                    background-color: $yello;
                }
            }
            &:before{
                content: '';
                display: inline-block;
                width: 7px;
                height: 7px;
                -moz-border-radius: 7.5px;
                -webkit-border-radius: 7.5px;
                border-radius: 7.5px;
                background-color: $noir;
                margin-left: -8px;
                margin-right: 8px;
            }
        }
    }
}
#content{
    background-color: $grisClair
}
@media screen and (min-width: 768px){
    #sidebarCollapse{
        display: none;
    }
}
@media screen and (max-width: 768px){
    #sidebar{
        width: 100%;
        height: auto;
        position: relative;
        border-bottom: solid $jaune 1px;
        button{
            float: right;
            margin-top: -75px;
            background-color: $blanc;
            margin-right: 20px;
            border: none;
        }
        ul{
            display: none;
            &.active{
                display: block;
            }
        }
    }
}

.active-link {
    color: $yello !important;
    &:before{
        background-color: $yello !important;
    }
}