<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a routerLink="/"><img src="./assets/images/logo.svg" alt=""></a>
        </div>
        <button id="sidebarCollapse" class="hamburger hamburger--slider" type="button" [ngClass]="activeNav ? 'is-active' : 'closed'" (click)="navActive()">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        <!-- <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="navActive()">
            <i class="fas fa-align-left"></i>
            <span>A</span>
        </button> -->
        <ul class="list-unstyled components" [ngClass]="activeNav ? 'active' : 'closed'">
            <p>Ville</p>
            <div class="border"></div>
            <li>
                <a routerLink="/Nantes" routerLinkActive="active-link">Nantes</a>
            </li>
            <li>
                <a routerLink="/Angers" routerLinkActive="active-link">Angers</a>
            </li>
            <li>
                <a routerLink="/Rennes" routerLinkActive="active-link">Rennes</a>
            </li>
        </ul>
        
    </nav>
    
    <div id="content">
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
    
                <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="navActive()">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
    
            </div>
        </nav> -->
    </div>
</div>
