@import '../../../styles/main';

@mixin city-vignet($color, $percent) {
    .parking-vignet {
        height: $vignet-height;
        max-width: $vignet-max-width;
        min-width: $vignet-min-width;
        background-color: $bg-elements; /** tmp : must be replace by $bg-elements*/
        margin: 8px;

        border-radius: 28px;
        box-shadow: 3px 3px 0 $color;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .parkinng-icon-cercle {
            background-color: lighten($color, $percent);
            height: 85px;
            width: 85px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            .parking-icon-bg {
                background-color: $color;
                height: 45px;
                width: 45px;
                border-radius: 16px;

                display: flex;
                justify-content: center;
                align-items: center;

                mat-icon {
                    height: 35px;
                    width: 35px;
                    font-size: 35px;
                    line-height: 35px;
                    color: lighten($color, $percent);
                }
            }
        }

        .text-informations {
            padding: 0px 16px;
            font-size: 25px;

            p {
                color: $d-text;
            }
            .city-name {
                margin: 8px 0px;
                font-size: 30px;
                font-weight:bold;
            }
            .nb-parking {
                color: $color;
                font-size: 30px;
                font-size: 1.5rem;
                font-weight:bold;
            }
        }
    }
}

.city-vignet-yellow {
    @include city-vignet($yello, 40%)
}
.city-vignet-blue {
    @include city-vignet($blue, 22%)
}

.city-vignet-red {
    @include city-vignet($red, 28%)
}