<div [ngClass]="class">
  <div class="parking-vignet">
    <div class="parkinng-icon-cercle">
      <div class="parking-icon-bg">
          <mat-icon>local_parking</mat-icon>
      </div>
    </div>
    <a routerLink="/{{cityName}}" routerLinkActive="active">
      <div class="text-informations">
          <p class="city-name">{{ cityName }}</p>
          <p><span class="nb-parking">{{ nbParking }}</span> parkings</p>  
      </div>
    </a>
  </div>
</div>
