<div class="chart-availability-in-period">
    <div>
        <h2>Historique des disponibilités sur une période</h2>

        <!-- start date picker -->
        <mat-form-field class="example-full-width">
          <input matInput [value]="startDate" [matDatepicker]="startPicker" placeholder="date de début" (dateChange)="startDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="startPicker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>

        <!-- end date picker -->
        <mat-form-field class="example-full-width">
          <input matInput [value]="endDate" [matDatepicker]="endPicker" placeholder="date de fin" (dateChange)="endDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="endPicker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
        
    </div>
    
    <canvas baseChart
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    [chartType]="chartType">
    </canvas>
  </div>