

$color-primary: #ff3456;
$color-secondary: #6199ff;

$d-text: #000;
$l-text: #707070;
$bg-content: #FAFAFA;
$bg-elements: #FFF;

$yello: #FFCC00;
$red: #FF0000;
$blue: #00CBFF;
$lyello: lighten($yello, 40%);
$lred: lighten($red, 28%);
$lblue: lighten($blue, 22%);

$blanc : #FFF;
$noir : #000;
$grisClair : #FAFAFA;
$gris : #707070;
$jaune : #FFCC00 ;
$rouge : #00CBFF ;
$bleu : #FF0000;

$font-default: sans-serif;
