@import 'variables';
@import 'theme';
@import 'mixins';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~normalize.css/normalize.css';
h1{
    color: $color-primary;
}

h1, h2, h3, h4, h5, h6, a, p, div, span {
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

