<div class="chart-avg-availability-week-day">
  <div>
      <h2>Disponibilité moyenne sur un jour de la semaine</h2>
      <select (change)="onSelectChange($event.target.value)">
        <option *ngFor="let day of days" [value]="day.value">
          {{day.viewValue}}
        </option>
      </select>
  </div>
  
  <canvas baseChart
  [datasets]="chartData"
  [labels]="chartLabels"
  [options]="chartOptions"
  [chartType]="chartType">
  </canvas>
</div>