@import '../../../styles/main';

#parking-list {
    background-color: $bg-content;
    min-height: 100vh;
    padding: 16px 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .parking-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        @media screen and (max-width: $break-small) {
            flex-direction: column-reverse;
        }

        #parking-list-content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 70%;

            @media screen and (min-width: $break-medium) {
                width: 70%;
            }
            @media screen and (max-width: $break-small) {
                width: 100%;
            }

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-around;
            }
            
        }
        app-chart-parking-list {
            background-color: #ffffff;
            padding: 16px;
            margin-top: 16px;
            width: 30%;
            @media screen and (min-width: $break-medium) {
                width: 30%;
            }
            @media screen and (max-width: $break-small) {
                width: 100%;
            }
        }
    }

    h2 {
        background-color: #fff;
        padding: 16px;
        color: $yello;
        text-align: center;
        width: 95%;
        font-size: 36px;
        border-radius: 28px;
    }

   

    
}