<div id="parking-list">
  <h2>LES PARKINGS A {{city}}</h2>
  <div class="parking-container">
    <div id="parking-list-content">
      <ul>
        <app-parking-vignet *ngFor="let parking of parkings" 
          [name]="parking.name" 
          [availiblePlaces]="parking.availablePlaces" 
          [totalPlaces]="parking.totalPlaces"
          [ville]="city"
          [parkingId]="parking.parkingId" >
        </app-parking-vignet>
      </ul>
    </div>
    <app-chart-parking-list #chart [paying]="paying" [free]="free"></app-chart-parking-list>
  </div>
</div>