.conteneur{
    margin-left: 200px;
}
// @media screen and (min-width: 768px){
//     .navbar-expand-lg{
//         display: none;
//     }
// }
@media screen and (max-width: 768px){
    .conteneur{
        margin-left: 0;
    }
    .header{
        // display: none;
    }
}