<div id="graph">
  <h2>Nombre de places totales</h2>
  <canvas baseChart
  [datasets]="barChartData"
  [labels]="barChartLabels"
  [options]="barChartOptions"
  [legend]="barChartLegend"
  [chartType]="barChartType">
</canvas>
</div>
