<div id="chart-available-places">
  <h2>Places restantes</h2>
  <canvas baseChart
  [datasets]="barChartData"
  [labels]="barChartLabels"
  [options]="barChartOptions"
  [legend]="barChartLegend"
  [chartType]="barChartType">
  </canvas>
</div>
