<div id="parking">
  <h2>{{parkingName}}</h2>
  <div class="parking-container">
    <div>
    </div>
    <div class="horaires">
      <table>
        <thead>
          <tr>
            <th >Jour</th>
            <th >Heure d'ouverture</th>
            <th >Heure de fermeture</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let horaire of horaires">
            <td>{{horaire.day}}</td>
            <td>{{horaire.start}}</td>
            <td>{{horaire.end}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <app-chart-avg-availability-week-day></app-chart-avg-availability-week-day>
    <app-chart-availability-in-period></app-chart-availability-in-period>
  </div>
</div>

