@import '../../../styles/main';

#parking {
    background-color: $bg-content;
    padding: 16px 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .parking-container {
        margin-top: 10px;
        .horaires {
            background-color: #FFFFFF;
            padding: 40px;
            border-radius: 20px;
        }
    }
    .horaires {
        background-color: #FFFFFF;
        padding: 40px;
        border-radius: 20px;
    }

   
    h2 {
        background-color: #fff;
        padding: 16px;
        color: $yello;
        text-align: center;
        width: 95%;
        font-size: 36px;
        border-radius: 28px;
    }

    th, td {
        border-bottom: solid 1px #000;
        padding: 10px;
    }


    table {
        border-collapse:collapse;
        caption-side:bottom;

        tr > td:not(:first-child) {
            text-align: center;
        }
    }

   

    
}