<div id="parking-list-chart">
  <h2>Parking payants et gratuits</h2>
  <canvas baseChart
  [datasets]="barChartData"
  [labels]="barChartLabels"
  [options]="barChartOptions"
  [legend]="barChartLegend"
  [chartType]="barChartType">
  </canvas>
</div>