@import '../../../styles/main';

@mixin parking-vignet($color) {
    .parking-vignet {
        background-color: #FFF;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 300px;
        height: 100px;
        margin: 16px 8px;

        .parking-name {
            padding-left: 16px;
            font-size: 20px;
        }
        .information-places {
            background-color: $color;
            padding: 16px 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 130px;
            max-width: 50vw;
            .text-places-availible {
                font-size: 15px;
                margin: 0px;
            }
            .place-rapport {
                margin: 0px;
                font-size: 35px;
            }
        }
    }
}

.green {
    @include parking-vignet($lblue)
}
.red {
    @include parking-vignet($lred)
}
.yello {
    @include parking-vignet($lyello)
}