<!-- FIX ME , I don't work at all-->
<a [routerLink]="['/', ville, parkingId]">
  <div [ngClass]="color">
    <div class="parking-vignet">
      <div class="parking-name">{{name}}</div>
      <div class="information-places">
        <p class="text-places-availible">Places restantes</p>
        <p class="place-rapport">{{availiblePlaces}}/{{totalPlaces}}</p>
      </div>
    </div>
  </div>
</a>